<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}} 
    
</head>

<body>

    {{>navbar}} 
    
    <div class="container-fluid middle-container">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <p>Error 404</p>
            </div>
        </div>
        </div>

        {{>footer}} 
        
</body>

</html>